html, body{
	height: 100%;
	width: 100%;
}
h4{
	font-family: MyriadPro-Regular;
	text-align: center;
}
body{
	padding: 0 2% 2% 2%;
}
.outerblue1{
	height: 100%;
	width: 100%;
	background-color: #042F5F;
	border: 4px solid #070068;
	padding: 2%
}
.outerwhite2{
	height: 100%;
	width: 100%;
	background-color: white;
	border: 4px solid #0071BC;
	padding: 4%;
}
.innerbluesmall3{
	height: 25%;
	width: 100%;
	background-color: #304A67;
	border: 4px solid #2267B5;
	padding: 1%;
}
.smallwhitebox1{
	height: 85%;
	width: 10%;
	background-color: white;
	border: 1px solid #93278F;
	display: inline-block;
	/*margin-left: 20px;*/
	
}
.smallwhitebox2{
	height: 85%;
	width: 10%;
	background-color: white;
	border: 1px solid #93278F;
	display: inline-block;
	/*margin-left: 200px;*/
}
.smallwhitebox3{
	height: 85%;
	width: 10%;
	background-color: white;
	border: 1px solid #93278F;
	display: inline-block;
	/*margin-left: 200px;*/
}
.smallwhitebox4{
	height: 85%;
	width: 10%;
	background-color: white;
	border: 1px solid #93278F;
	display: inline-block;
	padding: 0.5% 0.5% 0.5% 0.5%;
	/*margin-left: 200px;*/
}
.smallblue1{
	height: 85%;
	width: 80%;
	background-color: #75B3F9;
	border: 1px solid white;
}


.innerbluebig3{
	height: 75%;
	width: 100%;
	background-color: #304A67;
	border: 4px solid #2267B5;
	margin-top: 25px;
	text-align: center;
	font-size: 51.1px;
	font-family: MyriadPro-Regular;
	color: white;
	padding: 9%;
}