html, body{
	height: 100%;
	width: 100%;
}
h4{
	font-family: MyriadPro-Regular;
	text-align: center;
}
body{
	padding: 0 2% 2% 2%;
}
.outerblue1{
	height: 100%;
	width: 100%;
	background-color: #042F5F;
	border: 4px solid #070068;
	padding: 2%
}
.outerwhite2{
	height: 100%;
	width: 100%;
	background-color: white;
	border: 4px solid #0071BC;
	padding: 4%;
}
.innerbluesmall3{
	height: 25%;
	width: 100%;
	background-color: #304A67;
	border: 4px solid #2267B5;
	padding: 1%;
}
.smallwhite{
	height: 100%;
	width: 12%;
	background-color: white;
	border: 1px solid #93278F;
	display: inline-block;
	margin-left: 10%
}
.smallblue{
	height: 70%;
	width: 85%;
	margin: 8% auto;
	background-color: #75B3F9;
	border: 1px solid white;
	padding: 5%;
	font-size: 14px;
	color: white;
	font-family: MyriadPro-Regular;
/*	text-align: center;*/
}
.innerbluebig3{
	height: 75%;
	width: 100%;
	background-color: #304A67;
	border: 4px solid #2267B5;
	margin-top: 2%;
	text-align: center;
	font-size: 51.1px;
	font-family: MyriadPro-Regular;
	color: white;
	padding: 9%;
}
.text{
	text-align: center;
	margin-top: 12%;
}